<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="client-form card-like">
  <div class="form-row single">
    <mat-form-field class="fil-col" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput name="name" id="name" [(ngModel)]="client.name" #nameModel="ngModel" required>
      @if (nameModel.hasError('required') && nameModel.touched) {
        <mat-error>O campo nome é obrigatório.</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-row split">
    <mat-form-field class="fil-col" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput name="email" id="email" [(ngModel)]="client.email" #emailModel="ngModel" required email>
      @if (emailModel.hasError('required') && emailModel.touched) {
        <mat-error>O campo E-mail é obrigatório.</mat-error>
      }
      @if (emailModel.hasError('email') && emailModel.touched) {
        <mat-error>Informe um E-mail válido.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="fil-col" appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput name="phone" id="phone" #phoneModel="ngModel" [(ngModel)]="client.phone" required mask="(00) 00000-0000">
      @if (phoneModel.hasError('required') && phoneModel.touched) {
        <mat-error>O campo Telefone é obrigatório.</mat-error>
      }
      @if (phoneModel.hasError('mask') && phoneModel.touched) {
        <mat-error>Informe um número de Telefone válido.</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Salvar
    </button>
  </div>
</form>
